html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


:root{
    --primary-color: #FFF;
    --title-color: #FFF;
    --text-color: #cecece;
    --border-color: #777;
    --gradiente-color:#cecece;
    --box-shadow: #cecece;

    --roboto: 'Roboto',cursive;
}